body{
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","ו","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{color: #2fa0ec;outline: none;text-decoration: none;}
a:hover,a:focus{color:#74777b;text-decoration: none;}

body {
   background-color: #2f477b;
   color: #e6e6e6;
}
.container {
   
}

.image-container {
   width: 100%;
   padding-bottom: 65%;
   background-color: rgba(255, 255, 255, 0.5);
   position: relative;
   margin-bottom: 50px;
}
h2 {
   margin-top: 28px;
   margin-bottom: 15px;
}
.image-container img {
   width: 90%;
   left: 5%;
   top: 8%;
   position: absolute;
}

.nav-pills {
   margin: 20px 0 15px 0;
}

.nav-pills li {
   cursor: pointer;
}